*{
    padding: 0;
    margin: 0;
    
    
}


div.container {
  height: 10em;
  position: relative }


  div.container h1 {
    margin: 0;
    font-size: 90px;
    font-weight: bolder;
    -webkit-text-fill-color: whitesmoke;
    position: center;
    top: 500px;

    transform: translate(-50%, -50%) }

  body{
    width: 100%;
    
    height: 100vh;
     background: linear-gradient(170deg,#c69214,#00205b);
    
  }




  
  
 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }






  @media only screen and (min-device-width: 1360px) and (max-device-width: 1366px) and (orientation:landscape) {
    div.container h1 {
      margin: 0;
      font-size: 80px;
      font-weight: bolder;
      -webkit-text-fill-color: whitesmoke;
      position: absolute;
      top: 400px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) }
      body{
        width: 100%;
        height: 100vh;
         background: linear-gradient(170deg,#c69214,#00205b);
        
      }

      /* loader to fit the screen */
      .loader {
        border: 13px solid #ffffff; /* white */
        border-top: 13px solid #00205b; /* dark blue */
        border-radius: 50%;
        width: 55px;
        height: 55px;
        animation: spin 2s linear infinite;
      }
     div.loader
     {
      position: relative;
      top: 20%;
      left: 63%;
      
     } 
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    
    
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {



 /* loader to fit the screen */
    .loader {
      border: 13px solid #ffffff; /* white */
      border-top: 13px solid #00205b; /* dark blue */
      border-radius: 50%;
      width: 55px;
      height: 55px;
      animation: spin 2s linear infinite;
    }
    div.loader
    {
    position: relative;
    top: 27.5%;
    left: 68%;

    } 
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }


  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 1180px) and (orientation:landscape) {



    /* loader to fit the screen */
       .loader {
         border: 13px solid #ffffff; /* white */
         border-top: 13px solid #00205b; /* dark blue */
         border-radius: 50%;
         width: 55px;
         height: 55px;
         animation: spin 2s linear infinite;
       }
       div.loader
       {
       position: relative;
       top: 36%;
       left: 62%;
   
       } 
       @keyframes spin {
         0% { transform: rotate(0deg); }
         100% { transform: rotate(360deg); }
       }
   
   
     }

     /*this is for screens with of 2560 max*/
     @media only screen and (min-device-width: 2000px) and (max-device-width: 2560px) and (orientation:landscape) {


      div.container h1 {
        margin: 0;
        font-size: 150px;
        font-weight: bolder;
        -webkit-text-fill-color: whitesmoke;
        position: absolute;
        top: 490px;
        left: 45%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }

      /* loader to fit the screen */
         .loader {
           border: 25px solid #ffffff; /* white */
           border-top: 25px solid #00205b; /* dark blue */
           border-radius: 50%;
           width: 65px;
           height: 65px;
           animation: spin 2s linear infinite;
         }
         div.loader
         {
         position: relative;
         top: 22%;
         left: 57%;
     
         } 
         @keyframes spin {
           0% { transform: rotate(0deg); }
           100% { transform: rotate(360deg); }
         }
     
     
       }